@using System.Collections.Generic
@using ContosoUniversity.Features
@using HtmlHelperExtensions = ContosoUniversity.Features.HtmlHelperExtensions
@model List<ContosoUniversity.Features.SchoolBooks.Index.Model>

@{
    ViewData["Title"] = "SchoolBooks";
}

<h2>SchoolBooks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayLabel(model => model.Name)
        </th>
        <th>
            @Html.DisplayLabel(model => model.Author)
        </th>
        <th>
            @Html.DisplayLabel(model => model.Price)
        </th>
      
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{ int i = 0; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Display(modelItem => modelItem[i].Name)
            </td>
            <td>
                @Html.Display(modelItem => modelItem[i].Author)
            </td>
            <td>
                @Html.Display(modelItem => modelItem[i].Price)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>